<div class='' *ngIf="identity && identity.preceptor == true || identity.tutor == true || identity.profesor == true">
<div class='col-lg-6' *ngIf="!identity || identity.alumno != false ">
	<h1>Error</h1>
	<p>No tienes acceso a esta parte de la aplicación.</p>
</div>

<div class="head-page" *ngIf="identity">
	<h1>{{titulo}}</h1>

	<a [routerLink]= "['/crear-curso']" *ngIf="identity.preceptor == true"  class="btn btn-default" >Añadir Curso</a>
<hr>
<div>
<div class="clearfix"></div>

<h3>Búsqueda:</h3>
<form #formCurso= "ngForm" (ngSubmit)= "onSubmit()" class= "col-md-3" name="form-buscar-curso">
		
			Año de Cursado:
			<select #ano="ngModel" name="ano" [(ngModel)]="esteCurso.ano"  class="form-control" >
			<option value=""></option>
			<option value="1°">1°</option>
			<option value="2°">2°</option>
			<option value="3°">3°</option>
			<option value="4°">4°</option>
			<option value="5°">5°</option>
			<option value="6°">6°</option>
			<option value="7°">7°</option>
			<option value="8°">8°</option>
			<option value="9°">9°</option>
			
		</select>
			
			División:	
			<select #ano_cursado="ngModel" name="division" [(ngModel)]="esteCurso.division"  class="form-control" placeholder=" °">
			<option value=""></option>
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
			<option value="E">E</option>
			<option value="F">F</option>
			<option value="G">G</option>
			<option value="H">H</option>
			<option value="I">I</option>
			
			</select>

			Año gregoriano:	
				<input type="text" #name="ngModel" name="ano_gregoriano" [(ngModel)]="esteCurso.ano_gregoriano" class="form-control"  />
		
			
			
		
			<br>
			
	<input type="submit" value="Buscar" [disabled]="!formCurso.form.valid " class="btn btn-succes" />
</form>

</div>



<div class="clearfix"></div>
	<ul class="pagination pull-right">
		<li><a [routerLink]="['/cursos', prev_page]">&laquo;</a></li>
		
		<li><a [routerLink]="['/cursos', next_page]">&raquo;</a></li>
		
	</ul>
</div>


<div class="clearfix"></div>

<div class="pagina">| {{total_items}} cursos, página {{pagina}} de {{cantPaginas}} |</div>



<ul class="materiass-list" *ngIf="identity">
	<li *ngFor="let curso of cursos"  class="col-lg-3 materiass-item">
		<div class="materiass-name" >	
			<a href="#" [routerLink]="['/curso', curso._id]">
			{{curso.ano}}
			{{curso.division}}
			{{curso.ano_gregoriano}}
			</a>
			<!-- <div class="buttons" *ngIf="identity.preceptor== true">
				<a [routerLink]="['/editar-curso', curso._id]" class="btn btn-sm btn-warning">		Editar
				</a>
				<a (click)="onDeleteConfirm(curso._id)" class="btn btn-sm btn-danger">
					Borrar
				</a>


			</div>

			<div class="seguro" *ngIf="confirmado==curso._id">
				<a (click)="onDeleteCurso(curso._id)" class="btn btn-sm btn-danger">
					Eliminar
				</a>
				<a (click)="onCancelCurso()" class="btn btn-sm btn-primary">
					Cancelar
				</a>


			</div> -->
		</div>
	</li>

</ul>

