<div *ngIf="materia" class="materia-box">
<a href="#" [routerLink]="['/materia', materia._id]" >
	<h1 class="curso-titulo">
	{{materia.nombre}}  /  {{materia.ano_cursado}} año / {{materia.ano_gregoriano}}
		
	</h1>
</a>	
Profesor/es:
<a *ngIf="materia.profesor1" href="#" [routerLink]="['/docente', materia.profesor1._id]" >	
	{{materia.profesor1.surname}}, {{materia.profesor1.name}}
</a>
--
<a *ngIf= "materia.profesor2" href="#" [routerLink]="['/docente', materia.profesor2._id]" >	
	{{materia.profesor2.surname}}, {{materia.profesor2.name}}
</a>
	
<br>
<br>
	<a [routerLink]= "['/editar-materia', materia._id]" *ngIf="identity.preceptor == true"  class="btn btn-default" >Editar Materia</a>

	<a *ngIf="identity.preceptor == true" (click)="onDeleteConfirm(materia._id)" class="btn btn-default ">
					Eliminar Materia
				</a>
		
		<div class="seguro" *ngIf="identity.preceptor == true && confirmado==materia._id">
						<label>¿Estas seguro?</label>
						<a (click)="onDeleteMateria(materia._id)" class="btn btn-sm btn-danger">
							Eliminar
						</a>
						<a (click)="onCancelMateria()" class="btn btn-sm btn-primary">
							Cancelar
						</a>
		</div>


	<a [routerLink]= "['/crear-modulo', materia._id]" *ngIf="identity.preceptor == true"  class="btn btn-default" >Añadir Módulo</a>

	
	<a [routerLink]= "['/notas-materia', materia._id]" *ngIf=" materia.profesor1._id == identity._id || identity.preceptor ==true || identity.tutor==true || materia.profesor2 && materia.profesor2._id==identity._id"  class="btn btn-default" >Ver Notas</a>
<br>	
<hr>


<div *ngIf='materia'>
	<h3> Información de la Materia:</h3>
	<ul>
	<p>
	Horarios: {{materia.horarios}}
	<br>
	Planificación: {{materia.planificacion}}
	<br>
	Bibliografía: {{materia.bibliografia}}
	<br>
	
	</p>
	</ul>
</div>








	<h3 *ngIf="modulos && modulos[0]">Módulos:</h3>
	<ul class="materieta-list" *ngIf="identity">
	<li *ngFor="let modulo of modulos"  class="col-lg-6 materieta-item">
		<div class="materieta-name" >	
			<a class="black" href="#" [routerLink]="['/modulo', modulo._id]">
				{{modulo.nombre}} 
				<!-- {{modulo.division}} -->
				<!-- {{modulo.ano_gregoriano}} -->
			</a>
						<!-- <br>
						Prof/res: 
						<a class= "docente-name" href="#" [routerLink]="['/docente', modulo.profesor1._id]">{{modulo.profesor1.surname}}, {{modulo.profesor1.name}}</a>
						<br> 
						<a *ngIf="modulo.profesor2" class= "docente-name" href="#" [routerLink]="['/docente', modulo.profesor2._id]">		{{modulo.profesor2.surname}}, {{modulo.profesor2.name}}</a> -->
			
		</div>
	</li>
	</ul>
	
	<div class="clearfix" *ngIf=cursos></div>
	<ul class="materieta-list" *ngIf="identity">
	<h3>Cursos:</h3>	
	<li *ngFor="let curso of cursos"  class="col-lg-6 materieta-item">
		<div class="materieta-name" >	
				
			<a class="materieta-name" *ngIf="identity && identity.alumno==false" href="#" [routerLink]="['/curso', curso._id]">
							{{curso.ano}} {{curso.division}} {{curso.ano_gregoriano}}
							<!-- {{modulo.division}} -->
							<!-- {{modulo.ano_gregoriano}} -->
						</a>
						<a class="black" *ngIf="identity.alumno==true"  >
							{{curso.ano}} {{curso.division}} {{curso.ano_gregoriano}}
							<!-- {{modulo.division}} -->
							<!-- {{modulo.ano_gregoriano}} -->
						</a>


		<!-- 	<div class="buttons" *ngIf="identity.preceptor== true">
				<a [routerLink]="['/editar-curso', curso._id]" class="btn btn-sm btn-warning">		Editar
				</a>
				<a (click)="onDeleteConfirm(curso._id)" class="btn btn-sm btn-danger">
					Borrar
				</a>


			</div>

			<div class="seguro" *ngIf="confirmado==curso._id">
				<a (click)="onDeleteCurso(curso._id)" class="btn btn-sm btn-danger">
					Eliminar
				</a>
				<a (click)="onCancelCurso()" class="btn btn-sm btn-primary">
					Cancelar
				</a>


			</div> -->
		</div>
	</li>

</ul>


</div>
