<div *ngIf="identity && identity.alumno!=true" class="curso-box" >
<a href="#" [routerLink]="['/materia', materia._id]" >
	<h1 class="curso-titulo">
		{{materia.nombre}}  /  {{materia.ano_cursado}} año / {{materia.ano_gregoriano}}
	</h1>
</a>	
Profesor/es:
<a href="#" [routerLink]="['/docente', materia.profesor1._id]" >	
	{{materia.profesor1.surname}}, {{materia.profesor1.name}}
</a>
--
<a *ngIf="materia.profesor2" href="#" [routerLink]="['/docente', materia.profesor2._id]" >	
	{{materia.profesor2.surname}}, {{materia.profesor2.name}}
</a>
	
<br>
<br>

<div class="clearfix"></div>
<br>
<!-- <ul class="botones-selectores-list">
	<li *ngFor="let curso of cursos"  class="col-lg-2 selector-item">
	<a [routerLink]= "['/notas-por-curso', curso._id, materia._id]" *ngIf="identity._id == materia.profesor1._id || identity.preceptor== true	|| identity.tutor==true || identity._id == materia.profesor2._id"  class="btn btn-default" >Notas de {{curso.ano}} - {{curso.division}} - {{curso.ano_gregoriano}}</a>
	
</ul> -->
<br>
<br>
<br>
<a href="#" *ngIf="cursoActual" [routerLink]="['/curso', cursoActual._id]" >
	<h1 class="curso-titulo">
		{{cursoActual.ano}}  {{cursoActual.division}}  {{cursoActual.ano_gregoriano}}
	</h1>
</a>	
<div class="clearfix"></div>
<div>
<a [routerLink]= "['/nota-materia-add', materia._id, cursoActual._id]" *ngIf="cursoActual && materia && identity._id== materia.profesor1._id || materia.profesor2 && identity._id == materia.profesor2._id "  class="btn btn-default" >Añadir Nota</a>
</div>
		<div class="clearfix"></div>
		<h3>Notas de la Materia:</h3>
		<ul class="notas-list" *ngIf="identity._id == materia.profesor1._id || identity.preceptor== true	|| identity.tutor==true || identity._id == materia.profesor2._id"> 
		

		<!--
		-->


	 
		<li *ngFor="let alumnosCurso of alumnosCurso"  class="col-lg-12 nota-item">
			<a  href="link-docente"  [routerLink]="['/alumno', alumnosCurso.alumno._id]">{{alumnosCurso.alumno.surname}} {{alumnosCurso.alumno.name}}</a>

		<div > 

		
		<!--		
		-->
		<div *ngFor="let notaMateriaCurso of notasMateriaCurso"   class="col-lg-12 nota-item">
			<li *ngIf= "alumnosCurso.alumno._id == notaMateriaCurso.alumno._id" class="nota-name" >	
										
					<p>
					 {{notaMateriaCurso.identificador}},  nota: {{notaMateriaCurso.valor}}. El día {{notaMateriaCurso.fecha}}.
					</p>
					<p>{{notaMateriaCurso.descripcion}}	
					
					</p>
			 	
 			</li>

		</div>

		<!-- -->
		</div>
		</li>
		<!-- -->
		</ul>

</div>