<div *ngIf="identity && identity.alumno!=true" class="curso-box" >
<a href="#" [routerLink]="['/materia', modulo.materia._id]" >
	<h1 class="curso-titulo">
	{{modulo.materia.nombre}}  /  {{modulo.materia.ano_cursado}} año / {{modulo.materia.ano_gregoriano}}
</h1>
</a>
<a href="#" [routerLink]="['/modulo', modulo._id]" >
	<h1 class="curso-titulo">
	{{modulo.nombre}}
		
	</h1>
</a>	
	
Profesor/es:
<a href="#" [routerLink]="['/docente', modulo.profesor1._id]" >	
	{{modulo.profesor1.surname}}, {{modulo.profesor1.name}}
</a>
--
<a *ngIf= "modulo.profesor2" href="#" [routerLink]="['/docente', modulo.profesor2._id]" >	
	{{modulo.profesor2.surname}}, {{modulo.profesor2.name}}
</a>
	
<br>
<br>

 
<div class="clearfix"></div>
<br>
<ul class="botones-selectores-list">
	<li *ngFor="let curso of cursos"  class="col-lg-2 selector-item">
	<a [routerLink]= "['/notas-modulo-por-curso', curso._id, modulo._id]" *ngIf="identity._id == modulo.profesor1._id  || identity.preceptor== true	|| identity.tutor==true || identity._id == modulo.profesor2._id"  class="btn btn-default" >Notas de {{curso.ano}} - {{curso.division}} - {{curso.ano_gregoriano}}</a>
	
</ul>
<br>
<br>
<br>
<a href="#" [routerLink]="['/curso', cursoActual._id]" >
	<h1 class="curso-titulo">
		Curso: {{cursoActual.ano}}  {{cursoActual.division}}  {{cursoActual.ano_gregoriano}}
	</h1>
</a>	
<div class="clearfix"></div>
<div>
<a [routerLink]= "['/nota-add-modulo', modulo._id, cursoActual._id]" *ngIf="identity._id== modulo.profesor1._id || modulo.profesor2._id && identity._id == modulo.profesor2._id "  class="btn btn-default" >Añadir Nota</a>

<a *ngIf="cursoActual && modulo && identity.preceptor==true || identity.tutor==true || identity._id== modulo.profesor1._id || modulo.profesor2 && identity._id == modulo.profesor2._id " [routerLink]= "['/notas-modulo-por-curso',cursoActual._id , modulo._id]"  class="btn btn-default" >Ver todas las Notas</a>

<a *ngIf="cursoActual && modulo && identity.preceptor==true || identity.tutor==true || identity._id== modulo.profesor1._id || modulo.profesor2 && identity._id == materia.profesor2._id " [routerLink]= "['/notas-finales-modulo-curso',cursoActual._id , modulo._id]"  class="btn btn-default" >Ver Notas Finales ***sss</a>

		<div class="clearfix"></div>
		<h3>Notas del Módulo:</h3>
		<ul class="notas-list" *ngIf="identity._id == modulo.profesor1._id || identity.preceptor== true	|| identity.tutor==true || identity._id == modulo.profesor2._id"> 
		


		<li *ngFor="let alumnosCurso of alumnosCurso"  class="col-lg-8 nota-item">
			<a  href="link-docente"  [routerLink]="['/alumno', alumnosCurso.alumno._id]">{{alumnosCurso.alumno.surname}} {{alumnosCurso.alumno.name}}</a>

		<div> 

			<div *ngFor="let notasModulo of notasModulos"   class="col-lg-12 nota-item">
			<li *ngIf= "alumnosCurso.alumno._id == notasModulo.alumno._id" class="nota-name" >	
										
					<p>
					{{notasModulo.alumno.surname}},  {{notasModulo.alumno.name}}, {{notasModulo.identificador}},  nota: {{notasModulo.valor}}. El día {{notasModulo.fecha}}.
					</p>
					<p>{{notasModulo.descripcion}}	
					
					</p>
			 	
 			</li>

			</div>



		</div>
		</li>
	</ul>

</div>